*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: yellow;
}

.dark-mode {
  background-color: black;
  color: white;
}

.page-title {
  padding-top: 20px;
  color: black;
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.page-title-dark-mode {
  padding-top: 20px;
  color: white;
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.memory-game {
  width: 80%;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  justify-content: center;
}

.memory-card {
  width: 150px;
  height: calc(33.33% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  justify-content: center
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: gold;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

#winCount {
  text-align: center;
}